.horizontal-row{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-row{
    .row{ flex-wrap: nowrap;
        .col-4{
           display: inline-block; 
        }
    }
}
.logo{
    width: 150px;
    height: 75px;
    margin-left: 50px;
}